$document-icon-size: 12px !default;
$document-title-size: 18px !default;

@mixin list(){
  list-style: none;
}
@mixin item(){
  display: flex;
  align-items: baseline;

  margin-bottom: 16px;
}

@mixin icon ( $width: $document-title-size, $height: $document-title-size ){
  font-family: 'documents';

  font-size: $document-icon-size;
  line-height: $document-title-size;
  text-align: center;

  //width: $width; 
  height: $height;
  aspect-ratio: 1 / 1;
  padding: 4px;

  display: flex; flex-direction: column;
  align-items: center;
  justify-content: center;


  .c-icon__type {    
    font-family: 'Default';
    font-size: 50%;
    line-height: 1;
    text-transform: uppercase;
  }
}
