# Auto detect text files and perform LF normalization
* text=crlf

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union

# Standard to msysgit
*.doc  diff=astextplain
*.DOC  diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF  diff=astextplain
*.rtf  diff=astextplain
*.RTF  diff=astextplain

# Images
*.gif  binary
*.ico  binary
*.jpeg binary
*.jpg  binary
*.png  binary

# Other frontend files used in project
*.aspx    text
*.ascx    text
*.cshtml  text
*.resx	  text
*.ascx.cs text
*.ascx.vb text
*.css     text
*.js      text