#{$baseThemeClass}{
  a{
    &:not(.btn){
      &:link,
      &:active,
      &:visited{
        color: $link-color;
      }
      &:hover,
      &:focus{
          color: darken($link-color, 5%);
          text-decoration: none;
      }
    }
    &.text-info{
        &:hover, &:focus{
            color: darken($brand-info, 5%);
        }
    }

    & .material-icons {
      vertical-align: middle;
    }
  }
}
