
@media all {
  html {
    min-height: 100vh;
    overflow-x: hidden;

    body {
			$body-font-size: 18px;
			font-size: $body-font-size;
			line-height: $body-font-size * 1.5;
			font-family: $font-family-sans-serif;

			overflow-x: hidden;
			min-height: 100vh;
			padding: 0 !important;

			form#Form {
				min-height: 100vh;
				display: flex;
				flex-direction: column;
			}
    }
  }
}

main {
  height: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-bottom: 2rem;
	padding-left: 2rem;
	padding-right: 2rem;
}
