.pubicon-oko:before { content: '\e800'; } /* '' */
.pubicon-home:before { content: '\e801'; } /* '' */
.pubicon-kategorije:before { content: '\e802'; } /* '' */
.pubicon-mail:before { content: '\e803'; } /* '' */
.pubicon-rss:before { content: '\e805'; } /* '' */
.pubicon-arhiva:before { content: '\e806'; } /* '' */
.pubicon-search:before { content: '\f002'; } /* '' */
.pubicon-star:before { content: '\f005'; } /* '' */
.pubicon-user:before { content: '\f007'; } /* '' */
.pubicon-ok:before { content: '\f00c'; } /* '' */
.pubicon-trash-empty:before { content: '\f014'; } /* '' */
.pubicon-doc:before { content: '\f016'; } /* '' */
.pubicon-clock:before { content: '\f017'; } /* '' */
.pubicon-arrows-cw:before { content: '\f021'; } /* '' */
.pubicon-lock:before { content: '\f023'; } /* '' */
.pubicon-tagovi:before { content: '\f02b'; } /* '' */
.pubicon-print:before { content: '\f02f'; } /* '' */
.pubicon-camera:before { content: '\f030'; } /* '' */
.pubicon-th-list:before { content: '\f03a'; } /* '' */
.pubicon-location:before { content: '\f041'; } /* '' */
.pubicon-edit:before { content: '\f044'; } /* '' */
.pubicon-comment:before { content: '\f075'; } /* '' */
.pubicon-thumbs-up:before { content: '\f087'; } /* '' */
.pubicon-thumbs-down:before { content: '\f088'; } /* '' */
.pubicon-twitter:before { content: '\f099'; } /* '' */
.pubicon-facebook:before { content: '\f09a'; } /* '' */
.pubicon-link:before { content: '\f0c1'; } /* '' */
.pubicon-gplus:before { content: '\f0d5'; } /* '' */
.pubicon-right-dir:before { content: '\f0da'; } /* '' */
.pubicon-linkedin:before { content: '\f0e1'; } /* '' */
.pubicon-doc-text:before { content: '\f0f6'; } /* '' */
.pubicon-plus-squared:before { content: '\f0fe'; } /* '' */
.pubicon-angle-left:before { content: '\f104'; } /* '' */
.pubicon-angle-right:before { content: '\f105'; } /* '' */
.pubicon-angle-up:before { content: '\f106'; } /* '' */
.pubicon-angle-down:before { content: '\f107'; } /* '' */
.pubicon-circle:before { content: '\f111'; } /* '' */
.pubicon-calendar-empty:before { content: '\f133'; } /* '' */
.pubicon-minus-squared-alt:before { content: '\f147'; } /* '' */
.pubicon-level-up:before { content: '\f148'; } /* '' */
.pubicon-youtube:before { content: '\f167'; } /* '' */
.pubicon-instagram:before { content: '\f16d'; } /* '' */
.pubicon-plus-squared-alt:before { content: '\f196'; } /* '' */
.pubicon-file-pdf:before { content: '\f1c1'; } /* '' */
.pubicon-file-word:before { content: '\f1c2'; } /* '' */
.pubicon-file-excel:before { content: '\f1c3'; } /* '' */
.pubicon-file-powerpoint:before { content: '\f1c4'; } /* '' */
.pubicon-file-image:before { content: '\f1c5'; } /* '' */
.pubicon-file-archive:before { content: '\f1c6'; } /* '' */
.pubicon-file-audio:before { content: '\f1c7'; } /* '' */
.pubicon-file-video:before { content: '\f1c8'; } /* '' */
.pubicon-circle-notch:before { content: '\f1ce'; } /* '' */
.pubicon-upload:before { content: '\f274'; } /* '' */